<div class="max-w-[408px] whitespace-break-spaces	">
    <div class="flex flex-wrap items-center justify-between">
        <h2 class="heading-1 text-black-primary mt-auto">
            Notifications
        </h2>
        <div class="mr-8c flex flex-col align-center justify-center">
            <mat-icon class="w-full text-gray-100">arrow_forward</mat-icon>
        </div>
    </div>
    <div class="sm:mt-24c mt-14c">
        <h2 class="fs-14 font-700 md:mb-16c mb-12c text-black-primary">
            TODAY
        </h2>
        <div class="py-[4px] border-y-2 hover:border-gray-100 ">
            <div class="md:p-12c sm:p-8c hover:bg-gray-light-100">
                <div class="text-end">
                    <h4 class="mt-12c fs-14 text-gray-100">
                        now</h4>
                </div>
                <div class="my-12c">
                    <h2 class="fs-16">
                        Changes have been made to the stock list of 94 Mills Street.
                    </h2>
                </div>
            </div>
        </div>
        <div class="py-[4px] border-y-2 hover:border-gray-100 ">
            <div class="md:p-12c sm:p-8c hover:bg-gray-light-100">
                <div class="text-end">
                    <h4 class="mt-12c fs-14 text-gray-100">
                        now</h4>
                </div>
                <div class="my-12c">
                    <h2 class="fs-16">
                        Changes have been made to the stock list of 94 Mills Street.
                    </h2>
                </div>
            </div>
        </div>
        <div class="py-[4px] border-y-2 hover:border-gray-100 ">
            <div class="md:p-12c sm:p-8c hover:bg-gray-light-100">
                <div class="text-end">
                    <h4 class="mt-12c fs-14 text-gray-100">
                        now</h4>
                </div>
                <div class="my-12c">
                    <h2 class="fs-16">
                        Changes have been made to the stock list of 94 Mills Street.
                    </h2>
                </div>
            </div>
        </div>

    </div>
    <div class="sm:mt-24c mt-20">
        <h2 class="fs-14 font-700 md:mb-16c mb-12c text-black-primary">
            YESTERDAY
        </h2>
        <div class="py-[4px] border-y-2 hover:border-gray-100 ">
            <div class="md:p-12c sm:p-8c hover:bg-gray-light-100">
                <div class="text-end">
                    <h4 class="mt-12c fs-14 text-gray-100">
                        now</h4>
                </div>
                <div class="my-12c">
                    <h2 class="fs-16">
                        Changes have been made to the stock list of 94 Mills Street.
                    </h2>
                </div>
            </div>
        </div>
        <div class="py-[4px] border-y-2 hover:border-gray-100 ">
            <div class="md:p-12c sm:p-8c hover:bg-gray-light-100">
                <div class="text-end">
                    <h4 class="mt-12c fs-14 text-gray-100">
                        now</h4>
                </div>
                <div class="my-12c">
                    <h2 class="fs-16">
                        Changes have been made to the stock list of 94 Mills Street.
                    </h2>
                </div>
            </div>
        </div>
        <div class="py-[4px] border-y-2 hover:border-gray-100 ">
            <div class="md:p-12c sm:p-8c hover:bg-gray-light-100">
                <div class="text-end">
                    <h4 class="mt-12c fs-14 text-gray-100">
                        now</h4>
                </div>
                <div class="my-12c">
                    <h2 class="fs-16">
                        Changes have been made to the stock list of 94 Mills Street.
                    </h2>
                </div>
            </div>
        </div>
        <div class="py-[4px] border-y-2 hover:border-gray-100 ">
            <div class="md:p-12c sm:p-8c hover:bg-gray-light-100">
                <div class="text-end">
                    <h4 class="mt-12c fs-14 text-gray-100">
                        now</h4>
                </div>
                <div class="my-12c">
                    <h2 class="fs-16">
                        Changes have been made to the stock list of 94 Mills Street.
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>