<div class="description-card">
  <header class="description-card__header">
    <h4>Description</h4>
    <span class="description-card__meta" *ngIf="lastEditedLabel">{{ lastEditedLabel }}</span>
  </header>

  <div
    class="description-editor"
    [class.is-focused]="focused"
    (click)="activateEditor()"
  >
    <div *ngIf="!editing && !isEmpty" class="description-view" [innerHTML]="safeContent"></div>
    <div *ngIf="!editing && isEmpty" class="description-placeholder">{{ placeholder }}</div>

    <div *ngIf="editing" class="description-input">
      <quill-editor
        [formControl]="control"
        [modules]="modules"
        [styles]="editorStyles"
        (onFocus)="handleFocus()"
        (onBlur)="handleBlur()"
        (onContentChanged)="handleContentChanged($event)"
      ></quill-editor>

      <div class="editor-toolbar" [id]="toolbarId" quillToolbar>
        <span class="ql-formats">
          <button class="ql-bold"></button>
          <button class="ql-italic"></button>
          <button class="ql-underline"></button>
        </span>
        <span class="ql-formats">
          <button class="ql-list" value="bullet"></button>
          <button class="ql-list" value="ordered"></button>
        </span>
        <span class="ql-formats">
          <button class="ql-link"></button>
        </span>
      </div>
    </div>
  </div>
</div>
