<aside 
  class="app-aside" 
  [class.app-aside--open]="open"
  [style.width]="width"
>
  <header class="app-aside__header" *ngIf="showHeader">
    <div class="app-aside__meta" *ngIf="title || subtitle">
      <span class="app-aside__meta-label" *ngIf="title">{{ title }}</span>
      <mat-icon *ngIf="title && subtitle">chevron_right</mat-icon>
      <span class="app-aside__meta-label" *ngIf="subtitle">{{ subtitle }}</span>
    </div>

    <div class="app-aside__header-actions">
      <ng-content select="[aside-menu]"></ng-content>
      
      <button 
        *ngIf="showCloseButton"
        mat-icon-button 
        type="button" 
        (click)="onClose()" 
        class="app-aside__close-button"
        aria-label="Close panel"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </header>

  <div class="app-aside__body">
    <ng-content></ng-content>
  </div>
</aside>

