<div cols="2" rowHeight="100%" class="cus-container wrapper-login  p-0">
    <div class="mat-elevation-z font-muli">
        <!-- New Code Start -->
        <div class="grid grid-cols-1 sm:grid-cols-2 h-screen">
            <div class="welcome-msg hidden sm:block">
                <!-- <img
            src="assets/img/loginLHS.png"
            alt="Welcome logo"
            
          /> -->
                <div class="w-full h-full bg-image"></div>
            </div>
            <div *ngIf="showForgotPassScreen" class="flex flex-col justify-center items-center ">
                <div class="authorize-details-inner max-w-[552px] xl:w-3/5 sm:w-4/5 w-11/12	">
                    <div class="3xl:mb-[41%] xl:mb-[25%] mb-[10%]">
                        <img src="../../../../assets/img/logo_home.png" class="max-w-full h-auto" />
                    </div>

                    <h1 class="font-muli heading-1 text-black-primary">
                        Forgot Password
                    </h1>
                    <h4 class="font-muli fs-16 mt-[5px]  text-gray-100 max-w-[396px]">
                        Enter the email address you used when you joined and we’ll send you a link to reset your
                        password.
                    </h4>
                    <form action="" class="flex flex-col gap-1 login-form 3xl:pt-[31px] md:pt-26c pt-8c">
                        <mat-form-field class="cmn-mat-form-field mb-[2%]" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput name="username" required />
                        </mat-form-field>
                        <!-- <mat-error *ngIf="loginForm.controls['password'].invalid">{{
                            getErrorMessage()
                            }}</mat-error> -->
                        <!-- <button type="submit" 
                            class="w-full 3xl:py-12 sm:py-10 mt-[4.2%]  py-8 font-muli font-600 text-16 bg-[#FF7D00] border-2 border-[#FF7D00] hover:bg-[transparent] hover:text-[#FF7D00] rounded text-white duration-300">
                            Send Link
                        </button> -->
                        <button (click)="showResetLink()" type="submit" mat-flat-button color="primary"
                            class="button-large">
                            Send Link
                        </button>
                    </form>
                </div>
            </div>
            <div *ngIf="showResetScreen" class="flex flex-col justify-center items-center ">
                <div class="authorize-details-inner xl:w-3/5 sm:w-4/5 w-11/12	">
                    <div class="3xl:mb-[30%] xl:mb-[20%] lg:mb-[8%] mb-[5%]">
                        <img src="../../../../assets/img/logo_home.png" class="max-w-full h-auto" />
                    </div>
                    <!-- <div class="avatar-lg bg-green-primary rounded-full rounded-full">
                        <img class="max-w-full h-auto" src="" alt="calender">
                    </div> -->
                    <div class="avatar-lg rounded-full ml-[2.8%]">
                        <img src="../../../assets/img/ic_check_circle_24px.png" alt="">
                    </div>
                    <h1
                        class="font-muli 3xl:text-28 md:text-24 sm:text-22 text-20 font-700 text-black-secondary mt-[10%]">
                        Your password has been reset and use the new password to login.
                    </h1>

                    <!-- <button type="submit"
                        class="w-full 3xl:py-12 sm:py-10 mt-[3.2%]  py-8 font-muli font-600 text-16  bg-[#FF7D00] border-2 border-[#FF7D00] hover:bg-[transparent] hover:text-[#FF7D00] rounded text-white duration-300">
                        Back To Login
                    </button> -->
                    <button [routerLink]="['/auth/login']" routerLinkActive="router-link-active" type="submit"
                        mat-flat-button color="primary" class="mt-[5.2%] button-large">
                        Back To Login
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>