<div class="block-editor-container" cdkDropList (cdkDropListDropped)="drop($event)" (click)="onContainerClick($event)">
    <div *ngFor="let block of blocks; let i = index; trackBy: trackByFn" class="block-wrapper" cdkDrag>
        <div class="custom-placeholder" *cdkDragPlaceholder></div>

        <!-- Drag Handle -->
        <div class="drag-handle" cdkDragHandle>
            <mat-icon>drag_indicator</mat-icon>
        </div>

        <app-block [block]="block" [selected]="isBlockSelected(block.id)" (update)="updateBlock(block.id, $event)"
            (enter)="onBlockEnter(block.id)" (backspace)="onBlockBackspace(block.id)"
            (navigate)="onBlockNavigate(block.id, $event)" (slash)="onSlashMenuTrigger($event)">
        </app-block>
    </div>

    <app-slash-menu *ngIf="showSlashMenu" [position]="slashMenuPosition" (select)="onSlashMenuSelect($event)"
        (close)="closeSlashMenu()">
    </app-slash-menu>
</div>