<header class="app-header">
  <div class="app-header__left">
    <button
      mat-icon-button
      type="button"
      class="app-header__menu"
      (click)="menuToggle.emit()"
      aria-label="Toggle navigation"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <div class="app-header__branding">
      <span class="app-header__title">{{ appTitle }}</span>
    </div>
  </div>

  <div class="app-header__search" *ngIf="showSearch">
    <mat-icon>search</mat-icon>
    <input
      type="search"
      [placeholder]="searchPlaceholder"
      (input)="onSearchChange($any($event.target).value)"
    >
  </div>

  <div class="app-header__actions">
    <button
      mat-stroked-button
      color="primary"
      type="button"
      class="app-header__create"
      (click)="createClicked.emit()"
    >
      <mat-icon>add</mat-icon>
      New Task
    </button>

    <button
      mat-icon-button
      matBadge="{{ notifications }}"
      matBadgeColor="warn"
      matTooltip="Notifications"
      type="button"
    >
      <mat-icon>notifications</mat-icon>
    </button>

    <button mat-icon-button matTooltip="Help" type="button">
      <mat-icon>help_outline</mat-icon>
    </button>

    <app-dropdown-popover #profileMenu="appDropdownPopover" [width]="220">
      <button
        type="button"
        class="app-header__profile"
        appDropdownTrigger
        matRipple
        aria-haspopup="menu"
        aria-label="Account options"
      >
        <app-avatar
          size="md"
          [src]="userAvatarUrl"
          [initials]="userInitials"
          [alt]="userInitials"
        ></app-avatar>
        <div class="app-header__profile-info">
          <span class="app-header__profile-name">{{ userInitials }}</span>
          <span class="app-header__profile-role">{{ userRole }}</span>
        </div>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>

      <ng-template appDropdownContent>
        <div class="app-header__profile-menu" role="menu">
          <div class="app-header__profile-summary">
            <app-avatar
              size="md"
              [src]="userAvatarUrl"
              [initials]="userInitials"
              [alt]="userInitials"
            ></app-avatar>
            <div class="app-header__profile-summary-info">
              <span class="app-header__profile-name">{{ userInitials }}</span>
              <span class="app-header__profile-role">{{ userRole }}</span>
            </div>
          </div>

          <mat-divider></mat-divider>

          <button
            type="button"
            class="app-header__profile-menu-item"
            (click)="handleProfile(profileMenu)"
            role="menuitem"
          >
            <mat-icon>person</mat-icon>
            <span>View profile</span>
          </button>

          <button
            type="button"
            class="app-header__profile-menu-item app-header__profile-menu-item--danger"
            (click)="handleLogout(profileMenu)"
            role="menuitem"
          >
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </div>
      </ng-template>
    </app-dropdown-popover>
  </div>
</header>

