<div @transformPopover class="vex-popover">
  <div *ngIf="renderMethod === 'text'; else nonText" [innerHTML]="content"></div>

  <ng-template #nonText>
    <ng-container *ngIf="renderMethod === 'template'; else componentBlock">
      <ng-container *ngTemplateOutlet="content; context: context"></ng-container>
    </ng-container>
  </ng-template>

  <ng-template #componentBlock>
    <ng-container *ngIf="renderMethod === 'component'">
      <ng-container *ngComponentOutlet="content"></ng-container>
    </ng-container>
  </ng-template>
</div>
