<div class="flex flex-wrap md:flex-row -m-8c">
  <div class="w-full  2xl:w-3/5 p-8c">
    <div class="cmn-padding-wrapper">
      <div class=" flex flex-wrap -m-8c items-stretch">
        <div class="p-8c w-full">
          <h2 class="heading-1 text-black-primary">
            G'day, {{ userName || 'User' }}!
          </h2>
        </div>
        <div class="p-8c 2xl:w-1/4 sm:w-2/4 w-full">
          <div
            class="cmn-card-wrapper h-full items-stretch 3xl:min-h-[212px] xl:min-h-[200px] min-h-180px  flex flex-col ">
            <div class="avatar rounded-full">
              <img class="max-w-full h-auto" src="../../../assets/img/boxes-icon.png" alt="">
            </div>
            <h4 class="mt-12c fs-24 text-gray-200">
              Upcoming
            </h4>
            <h2 class="heading-1 text-gray-200 mt-auto">
              {{ stats.upcoming }}
            </h2>
          </div>
        </div>
        <div class="p-8c 2xl:w-1/4 sm:w-2/4 w-full">
          <div
            class="cmn-card-wrapper h-full items-stretch 3xl:min-h-[212px] xl:min-h-[200px] min-h-180px  flex flex-col ">
            <div class="avatar rounded-full">
              <img class="max-w-full h-auto" src="../../../assets/img/house-icon.png" alt="">
            </div>
            <h4 class="mt-12c fs-24 text-gray-200">
              Over Due
            </h4>
            <h2 class="heading-1 text-gray-200 mt-auto">
              {{ stats.overdue }}
            </h2>
          </div>
        </div>
        <div class="p-8c 2xl:w-1/4 sm:w-2/4 w-full">
          <div
            class="cmn-card-wrapper h-full items-stretch 3xl:min-h-[212px] xl:min-h-[200px] min-h-180px  flex flex-col ">
            <div class="avatar rounded-full">
              <!-- <img class="max-w-full h-auto" src="../../../assets/img/calender-theme-icon.svg" alt="calender"> -->
              <img class="max-w-full h-auto" src="../../../assets/img/calender-icon.png" alt="">

            </div>
            <h4 class="mt-12c fs-24 text-gray-200">
              On-Going
            </h4>
            <h2 class="heading-1 text-gray-200 mt-auto">
              {{ stats.ongoing }}
            </h2>
          </div>
        </div>
        <div class="p-8c 2xl:w-1/4 sm:w-2/4 w-full">
          <div
            class="cmn-card-wrapper h-full items-stretch 3xl:min-h-[212px] xl:min-h-[200px] min-h-180px  flex flex-col ">
            <div class="avatar rounded-full">
              <img class="max-w-full h-auto" src="../../../assets/img/ic_check_circle_24px.png" alt="">
            </div>
            <h4 class="mt-12c fs-24 text-gray-200">
              Complete
            </h4>
            <h2 class="heading-1 text-gray-200 mt-auto">
              {{ stats.complete }}
            </h2>
          </div>
        </div>

        <div class="p-8c w-full">
          <div class="cmn-card-wrapper h-full items-stretch xl:min-h-[290px] min-h-[200px] flex flex-col ">
            <div class="flex flex-wrap">
              <div class="avatar bg-red-primary rounded-full ">
                <img class="max-w-full h-auto" src="../../../assets/img/calender-theme-icon.svg" alt="calendar">
              </div>
              <div class="flex flex-col justify-center ml-8c">
                <h4 class="fs-24 text-gray-200">
                  Notice board
                </h4>
              </div>
              <div class="ml-auto">
                <button mat-stroked-button color="primary" type="button" (click)="editNotice()" *ngIf="!editing"
                  mat-button class="button-small-outline"
                  style="--mdc-outlined-button-outline-color:var(--color-primary)">
                  Edit
                </button>
                <button *ngIf="editing" (click)="clearNotice()" color="" mat-button
                  class="button-small text-gray-100 mr-12c"> Clear Board </button>
                <button type="button" (click)="broadcastNotice()" color="primary" *ngIf="editing" mat-flat-button
                  class="button-small">
                  Broadcast
                </button>
              </div>
            </div>

            <div id="noticeBoard" class="max-h-[200px] overflow-auto" *ngIf="!editing && message">
              <div class="border-b-2 border-text-gray-200 3xl:pb-24c lg:pb-18c md:pb-16c pb-8c">
                <h4 class="fs-16 mt-12c text-gray-100">
                  {{ getCurrentDate() }}
                </h4>
                <div class="fs-18 md:mt-12c mt-8cc text-black-primary whitespace-pre-line">
                  {{ message }}
                </div>
              </div>
            </div>
            
            <div *ngIf="!editing && !message" class="text-center py-8c text-gray-300">
              No notices available
            </div>

            <div id="noticeBoard" class="3xl:mt-16c mt-12c" *ngIf="editing">
              <!-- <h4 class="fs-16 mt-12c text-gray-100">
                07 Feb 2023
              </h4> -->
              <mat-form-field appearance="outline" class="cus-text-area w-full">
                <textarea matInput [(ngModel)]="editedMessage" id="messageInput"
                  class="fs-18 md:mt-12c track md:text-primary" rows="8"></textarea>
              </mat-form-field>
            </div>

          </div>
        </div>


        <!-- People -->
        <!-- <div class="p-8c w-full">
          <div class="cmn-card-wrapper h-full items-stretch xl:min-h-[290px] min-h-[200px] flex flex-col">
            <div class="flex flex-col justify-center ml-8c">
              <h4 class="fs-24 text-gray-200">People</h4>
              <p class="text-gray-400 text-sm">Key collaborators across your projects</p>
            </div>

            <div class="grid gap-6 p-6 sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-3">
              <mat-card class="people-card" *ngFor="let user of data">
                <mat-card-header>
                  <div mat-card-avatar class="people-card__avatar" [ngClass]="user.color">
                    <img [src]="user.image" [alt]="user.name" />
                  </div>
                  <mat-card-title>{{ user.name }}</mat-card-title>
                  <mat-card-subtitle>{{ user.team }}</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                  <div class="people-card__meta">
                    <mat-icon color="accent">call</mat-icon>
                    <span>{{ user.phone }}</span>
                  </div>
                </mat-card-content>

                <mat-divider></mat-divider>

                <mat-card-actions align="end">
                  <button mat-icon-button color="primary" matTooltip="Call">
                    <mat-icon>phone</mat-icon>
                  </button>
                  <button mat-icon-button color="primary" matTooltip="Email">
                    <mat-icon>mail</mat-icon>
                  </button>
                  <button mat-icon-button color="primary" matTooltip="Chat">
                    <mat-icon>chat</mat-icon>
                  </button>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </div> -->
        <!-- New Jobs this Month -->
        <!-- Houses Out this Month -->
        <!-- Completed this Month -->
        <div class="p-8c w-full">
          <div class="cmn-card-wrapper h-full items-stretch xl:min-h-[290px] min-h-[200px] flex flex-col ">
            <div class="ml-auto">
              <!-- <select name="" id="">
              <option value="" selected>FY 2022/2023</option>
              <option value="">FY 2022/2023</option>
              <option value="">FY 2022/2023</option>
            </select> -->
              <mat-form-field appearance="outline" class="cus-select">
                <mat-select [(value)]="selectedValue" (selectionChange)="onFiscalYearChange()" required>
                  <mat-option value="FY 2022/2023">FY 2022/2023</mat-option>
                  <mat-option value="FY 2023/2024">FY 2023/2024</mat-option>
                  <mat-option value="FY 2024/2025">FY 2024/2025</mat-option>
                </mat-select>
              </mat-form-field>

            </div>
            <div class=" max-w-[710px]">
              <img class="max-w-full h-auto" src="../../../../../assets/img/dummy_chart.png" alt="">
            </div>
            <div class="lg:mt-20c mt-16c flex flex-wrap 3xl:gap-30c lg:gap-14c gap-10c">
              <div>
                <div>
                  <h4 class="mt-12c fs-14 text-gray-100">
                    New Jobs this Month</h4>
                </div>
                <div class="flex items-center mt-8c">
                  <div>
                    <h2 class="heading-1 text-gray-200">
                      {{ monthlyStats.newJobs }}
                    </h2>
                  </div>
                  <div class="max-w-32px max-h-[17px] 3xl:ml-24c lg:ml-16c ml-8c">
                    <img class="max-w-full h-auto lg:w-100 w-[25px] "
                      src="../../../assets/img/Icon feather-trending-up.png" alt="">
                  </div>
                </div>
              </div>
              <div>
                <div>
                  <h4 class="mt-12c fs-14 text-gray-100">
                    Houses Out this Month</h4>
                </div>
                <div class="flex items-center mt-8c">
                  <div>
                    <h2 class="heading-1 text-gray-200">
                      {{ monthlyStats.housesOut }}
                    </h2>
                  </div>
                  <div class="max-w-32px max-h-[17px] 3xl:ml-24c lg:ml-16c ml-8c">
                    <img class="max-w-full h-auto lg:w-100 w-[25px] "
                      src="../../../assets/img/Icon feather-trending-side.png" alt="">
                  </div>
                </div>
              </div>
              <div>
                <div>
                  <h4 class="mt-12c fs-14 text-gray-100">
                    Completed this Month</h4>
                </div>
                <div class="flex items-center mt-8c">
                  <div>
                    <h2 class="heading-1 text-gray-200">
                      {{ monthlyStats.completed }}
                    </h2>
                  </div>
                  <div class="max-w-32px max-h-[17px] 3xl:ml-24c lg:ml-16c ml-8c">
                    <img class="max-w-full h-auto lg:w-100 w-[25px] "
                      src="../../../assets/img/Icon feather-trending-down.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class=" w-full  2xl:w-2/5 p-8c">
    <app-dashboard-schedule></app-dashboard-schedule>
  </div>
</div>