<header class="app-header">
  <div class="app-header__left">
    <button
      mat-icon-button
      type="button"
      class="app-header__menu"
      (click)="menuToggle.emit()"
      aria-label="Toggle navigation"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <div class="app-header__branding">
      <span class="app-header__title">{{ appTitle }}</span>
    </div>
  </div>

  <div class="app-header__search" *ngIf="showSearch">
    <mat-icon>search</mat-icon>
    <input
      type="search"
      [placeholder]="searchPlaceholder"
      (input)="onSearchChange($any($event.target).value)"
    >
  </div>

  <div class="app-header__actions">
    <app-dropdown-popover
      [items]="notificationItems"
      [width]="400"
      [maxHeight]="500"
      [hasSearch]="false"
      (select)="onNotificationSelect($event)"
    >
      <button
        mat-icon-button
        matBadge="{{ notifications }}"
        matBadgeColor="warn"
        matTooltip="Notifications"
        type="button"
        appDropdownTrigger
      >
        <mat-icon>notifications</mat-icon>
      </button>
    </app-dropdown-popover>

    <button mat-icon-button matTooltip="Help" type="button">
      <mat-icon>help_outline</mat-icon>
    </button>

    <app-dropdown-popover
      [items]="profileItems"
      [width]="240"
      [maxHeight]="400"
      [hasSearch]="false"
      (select)="onProfileSelect($event)"
    >
      <div class="app-header__profile" role="button" tabindex="0" matRipple appDropdownTrigger>
        <app-avatar
          size="md"
          [initials]="userInitials"
          [src]="userAvatarUrl"
          [color]="user?.avatar_color"
          class="user-avatar"
        ></app-avatar>
        <div class="app-header__profile-info" *ngIf="user">
          <span class="app-header__profile-name">{{ user.full_name }}</span>
          <span class="app-header__profile-role">{{ userRole }}</span>
        </div>
        <div class="app-header__profile-info" *ngIf="!user">
          <span class="app-header__profile-name">{{ userInitials }}</span>
          <span class="app-header__profile-role">{{ userRole }}</span>
        </div>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </div>
    </app-dropdown-popover>
  </div>
</header>

